iframe { width: 100%; }
.chat-message { white-space: pre; word-spacing: normal; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }
.row-spaced { padding: 8px 0; }
.chat-gui .panel { margin: 0; }
#chat-in { font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }